.container{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px;
  width: 60%;
  margin: 5% auto;
}

.container div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.container p-button{
  margin-top: 15%;
}
