<div class="container">
  <form [formGroup]="dataUpdateEmpresa">
    <input
    id="float-input"
    type="hidden"
    pInputText
    formControlName="idempresa"
  />
    <div>
      <span class="p-float-label">
        <input
          id="float-input"
          type="text"
          pInputText
          formControlName="nombre"
        />
        <label for="float-input">Nombre</label>
      </span>
      <p-dropdown
        [options]="accidentes"
        formControlName="accidentes"
        optionLabel="titulo"
      ></p-dropdown>
    </div>
      <p-button label="Enviar" (onClick)="actualizar()"></p-button>
  </form>
</div>
